<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8mb4">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    {% load static %}
   <style>
    
      .body 
    {
 
  	/* background-image: url( "{% static 'criminal.jpg' %}"); */
    opacity: 0.7;
    background-color:;
  	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
  }
    </style>
</head>

<body class="body">
  <div class="container" style="color: darkgrey;">
    <div class="row">
      <div class="col-md-8 offset-md-2 py-md-4 h-0 d-inline-block " style="background-color:white">
        <!-- <div class="card" style="color:black"> -->
          <div class="card  text-white" style="background-color:rgb(124, 124, 124);">
          <div class="card-body">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <h1 style="text-align: center;" ><u>FIR Registration</u></h1>
            
	          <form method="POST" enctype="multipart/form-data" action="/save_fir_reg/">
              {% csrf_token %}

            <div class="row mb-2 mt-5">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">FIR ID:</label>
                  <input type="text" id="form6Example1" class="form-control" name="fir_id" />
                  
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Adhar No:</label>
                  <input type="text" id="form6Example2" class="form-control" name="fir_adhar" />
                  
                </div>
              </div>
            </div>
            <div class="row mb-2 mt-2">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Full Name:</label>
                  <input type="text" id="form6Example1" class="form-control" name="fir_fullname" />
                  
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Age:</label>
                  <input type="number" id="form6Example2" class="form-control" name="fir_age" />
                  
                </div>
              </div>
            </div>
            
            <div class="mb-3 ">
              <label for="department">Gender</label>
              <select  id="department" class="form-control" name="fir_gender">
                <option value="None">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
            
            <!-- Text input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Phone NO:</label>
              <input type="text" id="form6Example3" class="form-control" name="fir_phone"/>
              
            </div>


            
            <!-- Text input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example4">Address:</label>
              <input type="text" id="form6Example4" class="form-control" name="fir_address" />
              
            </div>
            
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example5">Register by:</label>
              <input  id="form6Example5" class="form-control" name="fir_register_by" />
              
            </div>

            <div class="form-outline mb-4 ">
              <label for="department">Police Station name: </label>
              <input  id="form6Example5" class="form-control" name="fir_policstation_name" />
            </div>
            
            <!-- Number input -->
            
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example5">Select Photo</label>
              <input type="file" id="form6Example5" class="form-control" name="fir_photo"/>
              
            </div>
            
            
            <div class="mb-3 ">
              <label for="department">Type of Crime</label>
              <select  id="department" class="form-control" name="fir_type">
                <option value="None">Select crime type</option>
                <option value="Murdder">Murdder</option>
                <option value="Kidnap">Kidnap</option>
                <option value="Harashment">Harashment</option>
                <option value="Rape">Rape</option>
                <option value="Political">Political</option>
                <option value="Robbery">Robbery</option>
                <option value="Motor vehicle">Motor vehicle</option>
                <option value="Property crimes">Property crimes</option>
                <option value="Other">Other</option>
              </select>
            </div>


            <!-- Message input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example7">Subject:</label>
              <textarea class="form-control" id="form6Example7" rows="4" name="fir_subject"></textarea>
            </div>
            
            
            
            <!-- Submit button -->
            <!-- <center><a href="/login_process/"> <button type="button" class="btn btn-success btn-block mb-4">Back</button> </a> </center>  -->
            <center><button type="submit" class="btn btn-success btn-block mb-4">Submit</button></center> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>