<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
<style>
    h1
    {
        text-align: center;
    }

</style>

</head>
<body >
    <h1 style="color:purple;font-size: 20px;"><b>CHARACTER CERTIFICATE</b></h1>
    
  <br><br>
    <p style="color: black; font-size: 15px; font-family:Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;"> Dear "{{ data.fir_fullname }}",</p>
    <p style="padding-left: 5em; font-size: 14px;">This Certifies that Mr/Ms <b><i><td> <u>{{ data.fir_fullname }}</u> </td></i></b> is <span style="color: red;">NOT</span> having well character and good behavior. He/she is fount in {{ data.fir_type }} crime. So he/she is not eligible for government jobs as well private jobs. His/her crime details are as follos:  </p>

<br><br>

    <div class="table-responsive">
        <table class="table table-bordered table-success table-striped table-hover" id="tabledata" class="datatable display" style="border-color:black;height: auto;"border="0.5">


            <tr style="text-align: center;">
                <th>Name</th>
            <th>Adhar</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Register By</th>
            <th>Crime Type</th>
            <th>Subject</th>
                
            </tr>
            

           
            <tr >
            <td align="center">{{ data.fir_fullname }}</td>
            <td align="center">{{ data.fir_adhar }}</td>
            <td align="center">{{ data.fir_age }}</td>
            <td align="center">{{ data.fir_gender }}</td>
            <td align="center">{{ data.fir_register_by }}</td>
            <td align="center">{{ data.fir_type }}</td>
            <td align="center">{{ data.fir_subject }}</td>
            </tr>
        </table>
            <br>
            <br><br>
            <p><b><span style="color:darkblue; font-size:13px;">Place: </span> <span style="color:black; font-size:13px;">{{ data.fir_police_station }}</span></b></p>
        
            <p><b><span style="color:darkblue; font-size:13px;">Dated:</span><span style="color:black; font-size:13px;"> {{ data.fir_date }}</span> </b></p>
        
            <p><b><span style="color:darkblue; font-size:13px;">Designation: </span><span style="color:black; font-size:13px;">Police Station Head</span> </b></p>
        
            <p><b><span style="color:darkblue; font-size:13px;">Remark: </span><span style="color:black; font-size:13px;"> {{ data.fir_fullname }} is NOT having good behavior & character.</span> </b></p>
        
            <p style="font-size: x-large; margin: 40px;text-align: center;">Thank You...</p>
            
           

            
  </table>
   
</body>
</html>
